# Extractor.py Notebook

## Functions

In [19]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint
import xarray as xr
import os
from pyproj import Transformer
from datetime import datetime, timedelta

from helpers import *

from lxml import html
import requests

start_date = datetime(1950, 1, 1)

In [2]:
def checkDates(time1,time2):
    time_start = datetime(int(time1[:4]), int(time1[4:6]), int(time1[6:]))
    time_end = datetime(int(time2[:4]), int(time2[4:6]), int(time2[6:]))
    assert time_start < time_end, 'ERROR: time1 cannot be after time2, please check.'
    
    year1 = int(time1[:4])
    year2 = int(time2[:4])
    time_str = f'{time1}-{time2}'
    
    if year1==year2: sameyear = True
    else: sameyear = False
    
    return time_start, time_end, year1, year2, time_str, sameyear

In [3]:
def checkParams(depth, bbox, time1, time2, vars_sel, group, formats):
    # Define Global Variables
    global time_start, time_end, time_str, year1, year2, sameyear, bbox_g, bbox_str, depth_g, vars_g, group_g, formats_g
     
    # Check dates
    time_start, time_end, year1, year2, time_str, sameyear = checkDates(time1,time2)
    print('Time Range:', time_str)
    print('Same Year flag:', sameyear)

    # Check BBOX
    bbox_g = [int(bb) for bb in bbox.split(',')]
    bbox_str = '.'.join([str(b) for b in bbox_g])
    print('Bounding Box:', bbox_g) #, bbox_str)

    # Check depth
    depth_g = depth
    print(f'Depth: {depth_g}m')

    # Check Vars
    vars_g = vars_sel.split(',')
    print('Vars:', vars_g)

    # Check 'group' flag
    if len(vars_g) > 1:
        # the flag 'group' is required in this case
        group_g = group
        assert group_g is not None, 'The flag "--group" is required when multiple variables are selected.'
        print('Group files per Var:', group_g)

    else: group = False
    
    # Check Formats
    formats = [ff.lower() for ff in formats.split(',')]    
    formats_g = []
    if 'csv' in formats: formats_g.append('CSV')
    if 'netcdf4' in formats: formats_g.append('NetCDF4')
    print('Output files format(s):', formats_g)
    assert len(formats_g) > 0, 'ERROR: Output file format entered is wrong. It must be "csv", "netcdf4", or "csv,netcdf4".'

In [4]:
def getDDS(url_info, year):
    # Get dds info, and assign max dimensions to TIME and DEPTH
    
    pc_dim_dict = {}
    time_stop_dict = {}
    depth_stop_dict = {}

    # get all content of the server_url, and then filter it with year and available platforms
    page = requests.get(url_info[0])
    webpage = html.fromstring(page.content)
    
    urls_filtered = [p for p in webpage.xpath('//a/@href') if p.endswith(f'{year}.nc{url_info[1]}.dds')]

    for u in urls_filtered:

        dds = f'{url_info[0]}/{u}'#; print(dds)

        # Find platform code
        if len(url_info[1]) == 0: pc = dds.split('_')[0][-2:] # nmdc case
        else: pc = dds.split('_')[1][-2:] # t2_hyrax case

        pc_dim_dict[pc] = retrieveDDSinfo(dds)

        time_stop_dict[pc] = pc_dim_dict[pc]['TIME']
        depth_stop_dict[pc] = pc_dim_dict[pc]['DEPTH']

    assert depth_stop_dict.keys() == time_stop_dict.keys(), 'TIME and DEPTH Keys error. Please check.'
    
    return pc_dim_dict

In [5]:
def getPositionDict(pc_dim_dict, url_info, year):
    # Extract data and create position_dict
    
    position_dict = {}
    
    for pc in pc_dim_dict.keys():

        coords_str = getQueryString(pc_dim_dict[pc], keylist = ['TIME', 'LATITUDE', 'LONGITUDE']) 

        fix_lab = f'58{pc}_CTD_{year}' # label to use for this campaign

        url = f'{url_info[0]}{fix_lab}.nc{url_info[1]}?{coords_str}'; print(f'Platform: {pc}. URL with Queries:', url)

        remote_data, data_attr = fetch_data(url, year)

        position_dict[pc] = {'data': remote_data, 
                             'data_attr': data_attr}
#     print(position_dict)    
    
    return position_dict

In [20]:
def makePositionDF(position_dict):
    # Load locations (LONG & LAT) and TIME of all measurements in a position_df_raw (includes duplicates)

    position_df_raw = pd.DataFrame() 

    for key in position_dict.keys():
        test = pd.DataFrame()
    
        test['Longitude_WGS84'] = position_dict[key]['data']['LONGITUDE'].data.astype(float)
        test['Latitude_WGS84'] = position_dict[key]['data']['LATITUDE'].data.astype(float)
        test['Time'] = position_dict[key]['data']['TIME'].data.astype(float)
        test['Platform'] = key

        # Convert TIME from float to datetime
        test['Time'] = [start_date + timedelta(t) for t in test.loc[:,'Time']]
        length = len(test[test['Platform']==key])
        print(f'Platform {key}: {length} measurement locations.')
        
        position_df_raw = position_df_raw.append(test) 
    
    position_df_raw['Index_ABS'] = np.arange(0,len(position_df_raw))
    position_df_raw = position_df_raw.rename_axis("Index_Relative")

    # Now remove duplicates
    duplicates = position_df_raw[position_df_raw.duplicated(subset='Time') == True]
    
    position_df_temp = position_df_raw.drop_duplicates(subset=['Time'])
    
    print(f'Merged dataframe with all platforms. Total of {len(position_df_raw)} measurement positions')
    print(f'Duplicates: \t{len(duplicates)} / {len(position_df_raw)} \nRemaining: \t{len(position_df_temp)} / {len(position_df_raw)}')
    
    return position_df_temp

In [7]:
def filterBBOXandTIME(position_df, time1, time2):
    # Filter the position_df dataframe by BBOX
    position_df_bbox = position_df[(position_df.loc[:,'Longitude_WGS84'] >= bbox_g[0]) & 
                                   (position_df.loc[:,'Longitude_WGS84'] <= bbox_g[1]) & 
                                   (position_df.loc[:,'Latitude_WGS84'] >= bbox_g[2]) & 
                                   (position_df.loc[:,'Latitude_WGS84'] <= bbox_g[3])]

    # Print filtering results on original dataframe
    global sel_outof_all
    sel_outof_all = f'{len(position_df_bbox)} out of {len(position_df)}.'
#     print(f'Selected positions (out of available positions): {sel_outof_all}')
#     print(position_df_bbox)

    # Filter the position_df_bbox dataframe by TIME
    position_df_bbox_timerange = position_df_bbox.loc[(position_df_bbox['Time']>=time_start) & 
                                                      (position_df_bbox['Time']<=time_end)]

    # Print filtering results on original dataframe
    print(f'\nUser-defined Time Range: {time_str}')
    sel_outof_all = f'{len(position_df_bbox_timerange)} out of {len(position_df)}.'
    print(f'Selected positions (out of available positions): {sel_outof_all}')

    # print(position_df_bbox_timerange)
    
    return position_df_bbox_timerange

In [8]:
def getIndices(df_filtered):
    index_dict = {}
    
    for pc in df_filtered['Platform'].unique():
        index_dict[pc] = df_filtered[df_filtered['Platform']==pc].index.tolist()
    
    return index_dict

In [9]:
def extractVARsAndDepth(pc_sel, position_dict, pc_dim_dict, url_info, year):  
    data_dict = {}
    metadata = {}

    for pc in pc_sel:
        print(pc)
        metadata[pc] = {}

        v_min = int(float(position_dict[pc]['data_attr'][6]))
        metadata[pc]['vmin'] = v_min
        metadata[pc]['depth_abs_v1'] = 0 # this is fixed
        metadata[pc]['depth_abs_v2'] = pc_dim_dict[pc]['DEPTH'] # this is fixed

        # ==============================================================================
        """
        Define here the DEPTH range of your selection, in meters. Note that either:
        - 'depth_m_v1' is equal to the lower bound (ie index=0), or 
        - 'depth_m_v2' is equal to the upper bound (ie index=-1)
        """
        metadata[pc]['depth_m_v1'] = 0 
        metadata[pc]['depth_m_v2'] = depth_g
        # ==============================================================================

        # assert metadata[pc]['depth_m_v1'] < metadata[pc]['depth_m_v2'], 'ERROR: the lower bound must be lower than the higher bound' 
        # assert metadata[pc]['depth_m_v1'] == 0 or metadata[pc]['depth_m_v2'] == pc_dim_dict[pc]['DEPTH'], 'ERROR: one of the two values must be equal to one of the lower/upper bounds'

        #     print(f'DEPTH range of interest (meters): {metadata[pc]["depth_m_v1"]} - {metadata[pc]["depth_m_v2"]}')

        # the start and stop values are adjusted based on the vmin value
        if metadata[pc]['vmin'] == 1: 
            if metadata[pc]['depth_m_v1'] == 0: # 
                metadata[pc]['depth_newindex_v1'] = metadata[pc]['depth_m_v1'] # the same
                metadata[pc]['depth_newindex_v2'] = metadata[pc]['depth_m_v2'] # the same, so I have the right size. When I shift and add the nan, I get rid of further element on the right
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2']# - 1

            elif metadata[pc]['depth_m_v1'] != 0: 
                metadata[pc]['depth_newindex_v1'] = metadata[pc]['depth_m_v1'] - 1 # start one element before
                metadata[pc]['depth_newindex_v2'] = metadata[pc]['depth_m_v2'] - 1 # last element is excluded, ie stop one element before. But then I'll have to remoove one element
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2'] - metadata[pc]['depth_m_v1'] - 1 

        else:
            metadata[pc]['depth_newindex_v1'] = metadata[pc]['depth_m_v1']
            metadata[pc]['depth_newindex_v2'] = metadata[pc]['depth_m_v2']

            if metadata[pc]['depth_m_v1'] == 0: # 
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2']

            elif metadata[pc]['depth_m_v1'] != 0: 
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2'] - metadata[pc]['depth_m_v1']

        metadata[pc]['depth_newindex4xr_v1'] = 0

        pprint.pprint(metadata[pc])
        print(f'{pc} DEPTH range of interest (adjusted with vmin): {metadata[pc]["depth_newindex_v1"]} - {metadata[pc]["depth_newindex_v2"]}')

        fix_lab = f'58{pc}_CTD_{year}' # platform_codes and year are defined at the beginning of the notebook 

        # Get coordinates (needed for keeping the correct structure, and for plotting) 
        coords_str = getQueryString(pc_dim_dict[pc], keylist = ['TIME', 'LATITUDE', 'LONGITUDE']) # list the coordinates you want

        # Extract TIME and DEPTH dimension for queries 
        time_dims = getQuery(pc, start=0, stop=pc_dim_dict[pc]['TIME'])
        depth_dims = getQuery(pc, start=metadata[pc]['depth_newindex_v1'], stop=metadata[pc]['depth_newindex_v2'])#; print(depth_dims)

        # join TIME and DEPTH for Variables
        var_str_ALL = []
        for v in vars_g: var_str_ALL = np.append(var_str_ALL, f'{v}{time_dims}{depth_dims}')
        queries_vars = ','.join(var_str_ALL)

        # Build url and url with queries (url_q)
        url = f'{url_info[0]}{fix_lab}.nc{url_info[1]}?{coords_str}' 
        url_q = f'{url},{queries_vars}'; print(f'Platform {pc} URL:', url_q)

        remote_data, data_attr = fetch_data(url_q, year)

        data_dict[pc] = {'data': remote_data, 
                         'data_attr': data_attr}

        print(f'{data_attr}\n')

    assert pc_sel == list(data_dict.keys()), 'ERROR: different platforms, please check.'
    
    return data_dict, metadata

In [10]:
# Function to save Attributes to a database
def getAttributes(my_df, my_dict):
    
    for key in my_dict.keys():

        my_df.loc[key,'Platform_code'] = [my_dict[key]['data_attr'][0].astype(str)]
        my_df.loc[key,'Platform_name'] = [my_dict[key]['data_attr'][1].astype(str)]
        my_df.loc[key,'Year'] = [my_dict[key]['data_attr'][2].astype(int)]
        my_df.loc[key,'Data_type'] = [my_dict[key]['data_attr'][3].astype(str)]
        my_df.loc[key,'Title'] = [my_dict[key]['data_attr'][4].astype(str)]
        my_df.loc[key,'Instrument'] = [my_dict[key]['data_attr'][5].astype(str)]
        my_df.loc[key,'Vertical_min'] = [my_dict[key]['data_attr'][6].astype(float)]
        my_df.loc[key,'Vertical_max'] = [my_dict[key]['data_attr'][7].astype(float)]
        my_df.loc[key,'Lon_min'] = [my_dict[key]['data_attr'][8].astype(float)]
        my_df.loc[key,'Lon_max'] = [my_dict[key]['data_attr'][9].astype(float)]
        my_df.loc[key,'Lat_min'] = [my_dict[key]['data_attr'][10].astype(float)]
        my_df.loc[key,'Lat_max'] = [my_dict[key]['data_attr'][11].astype(float)]

    return my_df

In [11]:
def getVminDict(overview_df):
    vmin_dict = {}

    # select only those platforms where vmin == 1
    vmin_pc = overview_df[overview_df['Vertical_min'] == 1.0].index

    for i in vmin_pc:
        vmin_dict[i] = {}

        for v in vars_g:
            vmin_dict[i][v] = False
    
    return vmin_dict

In [12]:
# Function to check whether data should be aligned if vmin = 1, and align if so if has not been done already
def check_alignment(data_dict, pc, var, align_and_nan, vmin_dict):
    
    xarr = data_dict[pc]['data']
    xarr_var = xarr[var].data
    
    vmin = float(xarr.attrs['geospatial_vertical_min'])

    if vmin == 0:
        print(f'Platform: {pc}; Vertical min: {vmin}; Var: {var}')
        
    elif vmin==1 and vmin_dict[pc][var]==False and align_and_nan: 
        # shift to the right and add nan in first position 
        print(f'Platform: {pc}; Vertical min: {vmin}; Var: {var} --> aligning and add nan')
        data_dict[pc]['data'][var].data = adjust_with_vmin(xarr_var, value=np.nan)
        vmin_dict[pc][var] = True # to avoid doing hte vmin adjustment for this pc/var more than once        
    elif vmin==1 and vmin_dict[pc][var]==False and not align_and_nan: 
        # No need to shift, this occurred already in the data extraction
        print(f'Platform: {pc}; Vertical min: {vmin}; Var: {var} --> data has been aligned already')
        vmin_dict[pc][var] = True # to avoid doing hte vmin adjustment for this pc/var more than once
    
    
#     return data_dict[pc], vmin_dict[pc][var]

In [13]:
def filterbyDepthAndIndices(data_dict_yr, metadata_yr, vmin_dict_yr, df_filtered):
    
    print(f'\n3) Selected DEPTH: {depth_g}m')
    
    for year in data_dict_yr.keys():
        print(year)
        filtered_xarr_dict[year] = {}
        
        for pc in data_dict_yr[year].keys():
            print(pc)
            # Generate a filtered xarray with all variables for selected Platform, for a certain DEPTH range
            if metadata_yr[year][pc]['depth_m_v1']==0: align_and_nan = True
            else: align_and_nan = False

            for v in vars_g: 
                check_alignment(data_dict_yr[year], pc, v, align_and_nan, vmin_dict_yr[year]) 

            filtered_xarr_dict[year][pc] = filter_xarr_DEPTH(df_filtered, 
                                                             data_dict_yr[year],
                                                             platform=pc,
                                                             depth_range=[depth_g, depth_g])
            print(filtered_xarr_dict[year][pc])
        print('\n')
    
    return filtered_xarr_dict

In [14]:
# Function to filter XARRAY based on platform, Var and DEPTH
def filter_xarr_DEPTH(df_toPlot, data_dict, platform, depth_range):
    
    # find indices for each platform for the selected data
    index = df_toPlot[df_toPlot['Platform']==platform].index.tolist()
    
    # Filer data using the indexes of the filtered elements
    xarr_sel = data_dict[platform]['data'].isel(TIME=index,
                                                LATITUDE=index,
                                                LONGITUDE=index,
                                                DEPTH=slice(depth_range[0], depth_range[1]+1))
    return xarr_sel

## Set-up

### Input Params

In [15]:
depth = 25
bbox = "-20, 40, 50, 85"
time1 = '20031201' 
time2 = '20040131' 
vars_sel = 'TEMP'
formats = 'csv'
group = False

checkParams(depth, bbox, time1, time2, vars_sel, group, formats)

Time Range: 20031201-20040131
Same Year flag: False
Bounding Box: [-20, 40, 50, 85]
Depth: 25m
Vars: ['TEMP']
Output files format(s): ['CSV']

### Server URL

In [16]:
# URL of Norwegian Marine Data Centre (NMDC) data server
nmdc_url = 'http://opendap1.nodc.no/opendap/physics/point/yearly/' 

# URL of Terradue Cloud Platform Hyrax server
# Ellip user account and VPN setup required
t2_hyrax_url = 'https://opendap.terradue.com/hyrax/data/subset_2003/'

urls = {}
urls['nmdc'] = [nmdc_url, '']
urls['t2_hyrax'] = [t2_hyrax_url, '.nc4']

#========================================================
# Define below the URL to use (either 'nmdc' or 't2_hyrax'):
url_info = urls['nmdc']
#========================================================

print('Server URL and URL suffix:', url_info)

Server URL and URL suffix: ['http://opendap1.nodc.no/opendap/physics/point/yearly/', '']

## Extraction of NetCDF data

In [21]:
dds_year_dict = {}
pos_year_dict = {}
global position_df
position_df = pd.DataFrame()

for year in range(year1, year2+1): # need to do a for loop over the years as the data is saved in years on the server
    print('\nWorking on year:', year)
    
    # Retrieval of DDS info
    dds_year_dict[year] = getDDS(url_info, year) # dds_year_dict[year] replaced pc_dim_dict 
    pprint.pprint(dds_year_dict[year])
    
    # Extract all platform_codes for that year
    platform_codes = [pc for pc in dds_year_dict[year].keys()]
    print(f'Available platforms in given year {year}: {platform_codes}')

    # Create position_dict
    pos_year_dict[year] = getPositionDict(dds_year_dict[year], url_info, year) # pos_year_dict[year] replaced position_dict
#     pprint.pprint(pos_year_dict[year])

    # Match and merge LAT, LONG and TIME of positions in a position_df dataframe
    position_df_temp = makePositionDF(pos_year_dict[year])
    position_df = position_df.append(position_df_temp, ignore_index=True)

print('COMBINED position_df')
display(position_df)

Working on year: 2003
{'AA': {'DEPTH': 2809, 'LATITUDE': 683, 'LONGITUDE': 683, 'TIME': 683},
 'GS': {'DEPTH': 3683, 'LATITUDE': 404, 'LONGITUDE': 404, 'TIME': 404},
 'GT': {'DEPTH': 2956, 'LATITUDE': 990, 'LONGITUDE': 990, 'TIME': 990},
 'HJ': {'DEPTH': 789, 'LATITUDE': 178, 'LONGITUDE': 178, 'TIME': 178},
 'JH': {'DEPTH': 3763, 'LATITUDE': 949, 'LONGITUDE': 949, 'TIME': 949}}
Available platforms in given year 2003: ['AA', 'GS', 'GT', 'HJ', 'JH']
Platform: AA. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58AA_CTD_2003.nc?TIME[0:1:683],LATITUDE[0:1:683],LONGITUDE[0:1:683]
Platform: GS. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58GS_CTD_2003.nc?TIME[0:1:404],LATITUDE[0:1:404],LONGITUDE[0:1:404]
Platform: GT. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58GT_CTD_2003.nc?TIME[0:1:990],LATITUDE[0:1:990],LONGITUDE[0:1:990]
Platform: HJ. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58HJ_CTD_2003.nc?TIME[0:1:178],LATITUDE[0:1:178],LONGITUDE[0:1:178]
Platform: JH. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58JH_CTD_2003.nc?TIME[0:1:949],LATITUDE[0:1:949],LONGITUDE[0:1:949]
Platform AA: 684 measurement locations.
Platform GS: 405 measurement locations.
Platform GT: 991 measurement locations.
Platform HJ: 179 measurement locations.
Platform JH: 950 measurement locations.
Merged dataframe with all platforms. Total of 3209 measurement positions
Duplicates: 	0 / 3209
Remaining: 	3209 / 3209

Working on year: 2004
{'AA': {'DEPTH': 2181, 'LATITUDE': 1205, 'LONGITUDE': 1205, 'TIME': 1205},
 'GS': {'DEPTH': 4380, 'LATITUDE': 582, 'LONGITUDE': 582, 'TIME': 582},
 'HJ': {'DEPTH': 2650, 'LATITUDE': 236, 'LONGITUDE': 236, 'TIME': 236},
 'JH': {'DEPTH': 3726, 'LATITUDE': 1144, 'LONGITUDE': 1144, 'TIME': 1144}}
Available platforms in given year 2004: ['AA', 'GS', 'HJ', 'JH']
Platform: AA. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58AA_CTD_2004.nc?TIME[0:1:1205],LATITUDE[0:1:1205],LONGITUDE[0:1:1205]
Platform: GS. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58GS_CTD_2004.nc?TIME[0:1:582],LATITUDE[0:1:582],LONGITUDE[0:1:582]
Platform: HJ. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58HJ_CTD_2004.nc?TIME[0:1:236],LATITUDE[0:1:236],LONGITUDE[0:1:236]
Platform: JH. URL with Queries: http://opendap1.nodc.no/opendap/physics/point/yearly/58JH_CTD_2004.nc?TIME[0:1:1144],LATITUDE[0:1:1144],LONGITUDE[0:1:1144]
Platform AA: 1206 measurement locations.
Platform GS: 583 measurement locations.
Platform HJ: 237 measurement locations.
Platform JH: 1145 measurement locations.
Merged dataframe with all platforms. Total of 3171 measurement positions
Duplicates: 	0 / 3171
Remaining: 	3171 / 3171
COMBINED position_df

      Longitude_WGS84  Latitude_WGS84                Time Platform  Index_ABS
0            4.615500       60.755299 2003-01-07 05:25:57       AA          0
1            4.448300       60.748299 2003-01-07 06:05:08       AA          1
2            4.285300       60.751499 2003-01-07 08:34:00       AA          2
3            4.117000       60.747799 2003-01-07 09:18:06       AA          3
4            3.947500       60.752201 2003-01-07 09:59:37       AA          4
...               ...             ...                 ...      ...        ...
6375        16.844000       70.254799 2004-12-08 09:47:35       JH       3166
6376        16.143801       70.095802 2004-12-08 14:45:25       JH       3167
6377        15.987700       71.083801 2004-12-12 23:58:24       JH       3168
6378        16.045200       71.494698 2004-12-13 12:56:08       JH       3169
6379        14.609300       71.463303 2004-12-17 11:21:05       JH       3170

[6380 rows x 5 columns]

## Filtering by BBOX and Time

In [22]:
# Filter by BBOX and Time
df_filtered = filterBBOXandTIME(position_df, time1, time2)
display(df_filtered)

 # Dictionary of indices
index_dict = getIndices(df_filtered)
pprint.pprint(index_dict)

User-defined Time Range: 20031201-20040131
Selected positions (out of available positions): 162 out of 6380.

      Longitude_WGS84  Latitude_WGS84                Time Platform  Index_ABS
647          5.098700       61.916801 2003-12-01 06:06:42       AA        647
648          5.350700       62.132198 2003-12-01 15:04:22       AA        648
649          5.458200       62.091702 2003-12-01 16:25:02       AA        649
650          5.511800       62.060001 2003-12-01 17:00:58       AA        650
651          5.500700       62.035301 2003-12-01 17:28:26       AA        651
...               ...             ...                 ...      ...        ...
5294        31.205500       71.252296 2004-01-27 00:42:36       JH       2085
5295        31.212500       71.005798 2004-01-27 02:46:14       JH       2086
5296        31.215300       70.751701 2004-01-27 04:33:22       JH       2087
5297        31.217501       70.498703 2004-01-27 06:34:35       JH       2088
5298        31.217199       70.397301 2004-01-27 07:22:52       JH       2089

[162 rows x 5 columns]

{'AA': [647,
        648,
        649,
        650,
        651,
        652,
        653,
        654,
        655,
        656,
        657,
        658,
        659,
        660,
        661,
        662,
        663,
        664,
        665,
        666,
        667,
        668,
        669,
        670,
        671,
        672,
        673,
        674,
        675,
        676,
        677,
        678,
        679,
        680,
        681,
        682,
        683],
 'GS': [1063,
        1064,
        1065,
        1066,
        1067,
        1068,
        1069,
        1070,
        1071,
        1072,
        1073,
        1074,
        1075,
        1076,
        1077,
        1078,
        1079,
        1080,
        1081,
        1082,
        1083,
        1084,
        1085,
        1086,
        1087,
        1088,
        4415,
        4416,
        4417,
        4418,
        4419,
        4420,
        4421,
        4422,
        4423,
        4424],
 'JH': [3184,
        3185,
        3186,
        3187,
        3188,
        3189,
        3190,
        3191,
        3192,
        3193,
        3194,
        3195,
        3196,
        3197,
        3198,
        3199,
        3200,
        3201,
        3202,
        3203,
        3204,
        3205,
        3206,
        3207,
        3208,
        5235,
        5236,
        5237,
        5238,
        5239,
        5240,
        5241,
        5242,
        5243,
        5244,
        5245,
        5246,
        5247,
        5248,
        5249,
        5250,
        5251,
        5252,
        5253,
        5254,
        5255,
        5256,
        5257,
        5258,
        5259,
        5260,
        5261,
        5262,
        5263,
        5264,
        5265,
        5266,
        5267,
        5268,
        5269,
        5270,
        5271,
        5272,
        5273,
        5274,
        5275,
        5276,
        5277,
        5278,
        5279,
        5280,
        5281,
        5282,
        5283,
        5284,
        5285,
        5286,
        5287,
        5288,
        5289,
        5290,
        5291,
        5292,
        5293,
        5294,
        5295,
        5296,
        5297,
        5298]}

## Data Processing: Load and Plot selected Data (Variables within DEPTH range)

### Fetch data per year

In [24]:
global data_dict_yr, metadata_yr, vmin_dict_yr, filtered_xarr_dict
data_dict_yr = {}
metadata_yr = {}
vmin_dict_yr = {}

for year in range(year1, year2+1): # need to do a for loop over the years as the data is saved in years on the server
    
    # Extract all platform_codes for that year
    pc_sel = [pc for pc in dds_year_dict[year].keys()]
    print(f'Working on year: {year} - Available platforms: {pc_sel}')

    data_dict_yr[year], metadata_yr[year] = extractVARsAndDepth(pc_sel, pos_year_dict[year], dds_year_dict[year], url_info, year) 

    print(f'Attributes Year: {year}')
    # Create overview dataframe
    overview_df = pd.DataFrame()
    overview_df = getAttributes(overview_df, data_dict_yr[year])
    print('overview_df')
    display(overview_df)

    # Generate vmin dictionary (needed to avoid doing the vmin adjustment more than once)
    vmin_dict_yr[year] = getVminDict(overview_df)
    
print('\n2) ===================Printing Results:')
print('\n2.1) data_dict_yr')
pprint.pprint(data_dict_yr)
print('\n2.2) metadata_yr')
pprint.pprint(metadata_yr)
print('\n2.3) vmin_dict_yr')
pprint.pprint(vmin_dict_yr)

Working on year: 2003 - Available platforms: ['AA', 'GS', 'GT', 'HJ', 'JH']
AA
{'depth_abs_v1': 0,
 'depth_abs_v2': 2809,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 0}
AA DEPTH range of interest (adjusted with vmin): 0 - 25
Platform AA URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58AA_CTD_2003.nc?TIME[0:1:683],LATITUDE[0:1:683],LONGITUDE[0:1:683],TEMP[0:1:683][0:1:25]
['58AA' 'H\\303\\245kon Mosby' '2003' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '0.000'
 '2811.000' '-11.884' '17.833' '53.996' '69.999']

GS
{'depth_abs_v1': 0,
 'depth_abs_v2': 3683,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
GS DEPTH range of interest (adjusted with vmin): 0 - 25
Platform GS URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58GS_CTD_2003.nc?TIME[0:1:404],LATITUDE[0:1:404],LONGITUDE[0:1:404],TEMP[0:1:404][0:1:25]
['58GS' 'G.O. Sars' '2003' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '1.000'
 '3688.000' '-17.979' '22.532' '59.28' '78.336']

GT
{'depth_abs_v1': 0,
 'depth_abs_v2': 2956,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
GT DEPTH range of interest (adjusted with vmin): 0 - 25
Platform GT URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58GT_CTD_2003.nc?TIME[0:1:990],LATITUDE[0:1:990],LONGITUDE[0:1:990],TEMP[0:1:990][0:1:25]
['58GT' 'Sarsen' '2003' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '1.000'
 '2962.000' '-9.52' '35.016' '56.667' '78.655']

HJ
{'depth_abs_v1': 0,
 'depth_abs_v2': 789,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
HJ DEPTH range of interest (adjusted with vmin): 0 - 25
Platform HJ URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58HJ_CTD_2003.nc?TIME[0:1:178],LATITUDE[0:1:178],LONGITUDE[0:1:178],TEMP[0:1:178][0:1:25]
['58HJ' 'Helmer Hanssen' '2003' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '1.000'
 '792.000' '6.303' '39.826' '63.889' '81.179']

JH
{'depth_abs_v1': 0,
 'depth_abs_v2': 3763,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
JH DEPTH range of interest (adjusted with vmin): 0 - 25
Platform JH URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58JH_CTD_2003.nc?TIME[0:1:949],LATITUDE[0:1:949],LONGITUDE[0:1:949],TEMP[0:1:949][0:1:25]
['58JH' 'Johan Hjort' '2003' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '1.000'
 '3766.000' '-15.502' '47.017' '50.998' '77.829']

Attributes Year: 2003
overview_df

,Platform_code,Platform_name,Year,Data_type,Title,Instrument,Vertical_min,Vertical_max,Lon_min,Lon_max,Lat_min,Lat_max
AA,58AA,H\303\245kon Mosby,2003.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,0.0,2811.0,-11.884,17.833,53.996,69.999
GS,58GS,G.O. Sars,2003.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,1.0,3688.0,-17.979,22.532,59.280,78.336
GT,58GT,Sarsen,2003.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,1.0,2962.0,-9.520,35.016,56.667,78.655
HJ,58HJ,Helmer Hanssen,2003.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,1.0,792.0,6.303,39.826,63.889,81.179
JH,58JH,Johan Hjort,2003.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,1.0,3766.0,-15.502,47.017,50.998,77.829

Working on year: 2004 - Available platforms: ['AA', 'GS', 'HJ', 'JH']
AA
{'depth_abs_v1': 0,
 'depth_abs_v2': 2181,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
AA DEPTH range of interest (adjusted with vmin): 0 - 25
Platform AA URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58AA_CTD_2004.nc?TIME[0:1:1205],LATITUDE[0:1:1205],LONGITUDE[0:1:1205],TEMP[0:1:1205][0:1:25]
['58AA' 'H\\303\\245kon Mosby' '2004' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus'
 'CTD Seabird Sonder uspes.; CTD Seabird' '1.000' '2183.000' '-23.754'
 '35.047' '56.643' '81.306']

GS
{'depth_abs_v1': 0,
 'depth_abs_v2': 4380,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
GS DEPTH range of interest (adjusted with vmin): 0 - 25
Platform GS URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58GS_CTD_2004.nc?TIME[0:1:582],LATITUDE[0:1:582],LONGITUDE[0:1:582],TEMP[0:1:582][0:1:25]
['58GS' 'G.O. Sars' '2004' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '1.000'
 '4383.000' '-36.811' '36.426' '41.462' '78.44']

HJ
{'depth_abs_v1': 0,
 'depth_abs_v2': 2650,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
HJ DEPTH range of interest (adjusted with vmin): 0 - 25
Platform HJ URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58HJ_CTD_2004.nc?TIME[0:1:236],LATITUDE[0:1:236],LONGITUDE[0:1:236],TEMP[0:1:236][0:1:25]
['58HJ' 'Helmer Hanssen' '2004' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus' 'CTD Seabird' '1.000'
 '2654.000' '2.974' '36.26' '63.258' '81.874']

JH
{'depth_abs_v1': 0,
 'depth_abs_v2': 3726,
 'depth_m_v1': 0,
 'depth_m_v2': 25,
 'depth_newindex4xr_v1': 0,
 'depth_newindex4xr_v2': 25,
 'depth_newindex_v1': 0,
 'depth_newindex_v2': 25,
 'vmin': 1}
JH DEPTH range of interest (adjusted with vmin): 0 - 25
Platform JH URL: http://opendap1.nodc.no/opendap/physics/point/yearly/58JH_CTD_2004.nc?TIME[0:1:1144],LATITUDE[0:1:1144],LONGITUDE[0:1:1144],TEMP[0:1:1144][0:1:25]
['58JH' 'Johan Hjort' '2004' 'OceanSITES vertical profile'
 'Arctic Ocean - In Situ Observation Copernicus'
 'CTD Seabird CTD Seabird; Sonder uspes.' '1.000' '3730.000' '-16.993'
 '49.063' '52.244' '80.503']

Attributes Year: 2004
overview_df

,Platform_code,Platform_name,Year,Data_type,Title,Instrument,Vertical_min,Vertical_max,Lon_min,Lon_max,Lat_min,Lat_max
AA,58AA,H\303\245kon Mosby,2004.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird Sonder uspes.; CTD Seabird,1.0,2183.0,-23.754,35.047,56.643,81.306
GS,58GS,G.O. Sars,2004.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,1.0,4383.0,-36.811,36.426,41.462,78.440
HJ,58HJ,Helmer Hanssen,2004.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird,1.0,2654.0,2.974,36.260,63.258,81.874
JH,58JH,Johan Hjort,2004.0,OceanSITES vertical profile,Arctic Ocean - In Situ Observation Copernicus,CTD Seabird CTD Seabird; Sonder uspes.,1.0,3730.0,-16.993,49.063,52.244,80.503

2) ===================Printing Results:

2.1) data_dict_yr
{2003: {'AA': {'data': <xarray.Dataset>
Dimensions:    (TIME: 684, LATITUDE: 684, LONGITUDE: 684, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.936e+04 1.936e+04 ... 1.97e+04 1.97e+04
  * LATITUDE   (LATITUDE) float32 60.76 60.75 60.75 60.75 ... 63.53 63.59 63.92
  * LONGITUDE  (LONGITUDE) float32 4.615 4.448 4.285 4.117 ... 10.36 10.9 11.04
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/152)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_DM._FillValue:
    CNDC_DM.conventions:            Copernicus Marine In Situ reference table 1
    CNDC_DM.flag_values:            R, A, D
    CNDC_DM.flag_meanings:          real-time adjusted-in-real-time delayed-mode
    CNDC_DM.long_name:              Electrical conductivity method of data pr...
    CNDC_DM.string_length:          2810,
               'data_attr': array(['58AA', 'H\\303\\245kon Mosby', '2003',
       'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '0.000', '2811.000', '-11.884', '17.833', '53.996', '69.999'],
      dtype='<U45')},
        'GS': {'data': <xarray.Dataset>
Dimensions:    (TIME: 405, LATITUDE: 405, LONGITUDE: 405, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.956e+04 1.957e+04 ... 1.97e+04 1.97e+04
  * LATITUDE   (LATITUDE) float32 70.51 70.49 70.51 70.5 ... 68.37 68.38 68.38
  * LONGITUDE  (LONGITUDE) float32 17.95 14.0 9.883 8.01 ... 16.09 16.09 16.09
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58GS', 'G.O. Sars', '2003', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '1.000', '3688.000', '-17.979', '22.532', '59.28', '78.336'],
      dtype='<U45')},
        'GT': {'data': <xarray.Dataset>
Dimensions:    (TIME: 991, LATITUDE: 991, LONGITUDE: 991, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.938e+04 1.938e+04 ... 1.963e+04 1.964e+04
  * LATITUDE   (LATITUDE) float32 62.37 62.49 62.6 62.72 ... 56.74 57.13 57.69
  * LONGITUDE  (LONGITUDE) float32 5.2 4.948 4.7 ... -0.3618 -0.5513 -0.5153
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58GT', 'Sarsen', '2003', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '1.000', '2962.000', '-9.52', '35.016', '56.667', '78.655'],
      dtype='<U45')},
        'HJ': {'data': <xarray.Dataset>
Dimensions:    (TIME: 179, LATITUDE: 179, LONGITUDE: 179, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.96e+04 1.96e+04 1.96e+04 ... 1.968e+04 1.968e+04
  * LATITUDE   (LATITUDE) float32 80.02 80.38 80.03 80.02 ... 68.06 68.18 68.23
  * LONGITUDE  (LONGITUDE) float32 6.303 8.006 8.285 9.16 ... 10.49 11.05 12.42
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58HJ', 'Helmer Hanssen', '2003', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '1.000', '792.000', '6.303', '39.826', '63.889', '81.179'],
      dtype='<U45')},
        'JH': {'data': <xarray.Dataset>
Dimensions:    (TIME: 950, LATITUDE: 950, LONGITUDE: 950, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.938e+04 1.938e+04 ... 1.971e+04 1.971e+04
  * LATITUDE   (LATITUDE) float32 70.4 70.5 70.75 71.01 ... 71.75 71.74 71.75
  * LONGITUDE  (LONGITUDE) float32 31.32 31.29 31.23 31.22 ... 13.01 14.99 17.07
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58JH', 'Johan Hjort', '2003', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '1.000', '3766.000', '-15.502', '47.017', '50.998', '77.829'],
      dtype='<U45')}},
 2004: {'AA': {'data': <xarray.Dataset>
Dimensions:    (TIME: 1206, LATITUDE: 1206, LONGITUDE: 1206, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.975e+04 1.975e+04 ... 2.007e+04 2.007e+04
  * LATITUDE   (LATITUDE) float32 60.75 60.75 60.75 60.76 ... 66.15 65.94 65.86
  * LONGITUDE  (LONGITUDE) float32 4.611 4.451 4.295 4.117 ... 12.95 12.98 13.17
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58AA', 'H\\303\\245kon Mosby', '2004',
       'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus',
       'CTD Seabird Sonder uspes.; CTD Seabird', '1.000', '2183.000',
       '-23.754', '35.047', '56.643', '81.306'], dtype='<U45')},
        'GS': {'data': <xarray.Dataset>
Dimensions:    (TIME: 583, LATITUDE: 583, LONGITUDE: 583, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.974e+04 1.974e+04 ... 2.007e+04 2.008e+04
  * LATITUDE   (LATITUDE) float32 61.11 61.1 61.06 61.12 ... 68.39 68.43 68.37
  * LONGITUDE  (LONGITUDE) float32 5.095 5.177 5.347 5.64 ... 16.09 16.7 16.05
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/152)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_DM._FillValue:
    CNDC_DM.conventions:            Copernicus Marine In Situ reference table 1
    CNDC_DM.flag_values:            R, A, D
    CNDC_DM.flag_meanings:          real-time adjusted-in-real-time delayed-mode
    CNDC_DM.long_name:              Electrical conductivity method of data pr...
    CNDC_DM.string_length:          4381,
               'data_attr': array(['58GS', 'G.O. Sars', '2004', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '1.000', '4383.000', '-36.811', '36.426', '41.462', '78.44'],
      dtype='<U45')},
        'HJ': {'data': <xarray.Dataset>
Dimensions:    (TIME: 237, LATITUDE: 237, LONGITUDE: 237, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.983e+04 1.983e+04 ... 2.004e+04 2.004e+04
  * LATITUDE   (LATITUDE) float32 71.82 73.55 76.78 75.48 ... 63.56 63.52 63.71
  * LONGITUDE  (LONGITUDE) float32 29.11 32.79 31.23 30.48 ... 10.79 10.58 10.9
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58HJ', 'Helmer Hanssen', '2004', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus', 'CTD Seabird',
       '1.000', '2654.000', '2.974', '36.26', '63.258', '81.874'],
      dtype='<U45')},
        'JH': {'data': <xarray.Dataset>
Dimensions:    (TIME: 1145, LATITUDE: 1145, LONGITUDE: 1145, DEPTH: 26)
Coordinates:
  * TIME       (TIME) float64 1.974e+04 1.974e+04 ... 2.007e+04 2.007e+04
  * LATITUDE   (LATITUDE) float32 62.37 62.48 62.6 62.73 ... 71.08 71.49 71.46
  * LONGITUDE  (LONGITUDE) float32 5.196 4.945 4.689 4.422 ... 15.99 16.05 14.61
Dimensions without coordinates: DEPTH
Data variables:
    TEMP       (TIME, DEPTH) float64 ...
Attributes: (12/128)
    _NCProperties:                  version=1|netcdflibversion=4.4.1|hdf5libv...
    title:                          Arctic Ocean - In Situ Observation Copern...
    qc_manual:                      Recommendations for in-situ data Near Rea...
    contact:                        cmems-service@imr.no
    format_version:                 1.4
    distribution_statement:         These data follow Copernicus standards; t...
    ...                             ...
    CNDC_QC.conventions:            Copernicus Marine In Situ reference table 2
    CNDC_QC.valid_min:              0
    CNDC_QC.valid_max:              9
    CNDC_QC.flag_values:            [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    CNDC_QC.flag_meanings:          no_qc_performed good_data probably_good_d...
    CNDC_QC.long_name:              Electrical conductivity quality flag,
               'data_attr': array(['58JH', 'Johan Hjort', '2004', 'OceanSITES vertical profile',
       'Arctic Ocean - In Situ Observation Copernicus',
       'CTD Seabird CTD Seabird; Sonder uspes.', '1.000', '3730.000',
       '-16.993', '49.063', '52.244', '80.503'], dtype='<U45')}}}

2.2) metadata_yr
{2003: {'AA': {'depth_abs_v1': 0,
               'depth_abs_v2': 2809,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 0},
        'GS': {'depth_abs_v1': 0,
               'depth_abs_v2': 3683,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1},
        'GT': {'depth_abs_v1': 0,
               'depth_abs_v2': 2956,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1},
        'HJ': {'depth_abs_v1': 0,
               'depth_abs_v2': 789,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1},
        'JH': {'depth_abs_v1': 0,
               'depth_abs_v2': 3763,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1}},
 2004: {'AA': {'depth_abs_v1': 0,
               'depth_abs_v2': 2181,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1},
        'GS': {'depth_abs_v1': 0,
               'depth_abs_v2': 4380,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1},
        'HJ': {'depth_abs_v1': 0,
               'depth_abs_v2': 2650,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1},
        'JH': {'depth_abs_v1': 0,
               'depth_abs_v2': 3726,
               'depth_m_v1': 0,
               'depth_m_v2': 25,
               'depth_newindex4xr_v1': 0,
               'depth_newindex4xr_v2': 25,
               'depth_newindex_v1': 0,
               'depth_newindex_v2': 25,
               'vmin': 1}}}

2.3) vmin_dict_yr
{2003: {'GS': {'TEMP': False},
        'GT': {'TEMP': False},
        'HJ': {'TEMP': False},
        'JH': {'TEMP': False}},
 2004: {'AA': {'TEMP': False},
        'GS': {'TEMP': False},
        'HJ': {'TEMP': False},
        'JH': {'TEMP': False}}}

### Filter by Depth and Indices (generated by BBOX and Time indices)

In [25]:
df_filtered

      Longitude_WGS84  Latitude_WGS84                Time Platform  Index_ABS
647          5.098700       61.916801 2003-12-01 06:06:42       AA        647
648          5.350700       62.132198 2003-12-01 15:04:22       AA        648
649          5.458200       62.091702 2003-12-01 16:25:02       AA        649
650          5.511800       62.060001 2003-12-01 17:00:58       AA        650
651          5.500700       62.035301 2003-12-01 17:28:26       AA        651
...               ...             ...                 ...      ...        ...
5294        31.205500       71.252296 2004-01-27 00:42:36       JH       2085
5295        31.212500       71.005798 2004-01-27 02:46:14       JH       2086
5296        31.215300       70.751701 2004-01-27 04:33:22       JH       2087
5297        31.217501       70.498703 2004-01-27 06:34:35       JH       2088
5298        31.217199       70.397301 2004-01-27 07:22:52       JH       2089

[162 rows x 5 columns]

In [ ]:
need to understand why hte index is not working properly...

In [ ]:
# Filter by Depth and Indices (generated by BBOX and Time indices) 
filtered_xarr_dict = {}
filtered_xarr_dict = filterbyDepthAndIndices1(data_dict_yr, metadata_yr, vmin_dict_yr, df_filtered)
print('\n4) filtered_xarr_dict', filtered_xarr_dict)

In [ ]:
def filterbyDepthAndIndices1(data_dict_yr, metadata_yr, vmin_dict_yr, df_filtered):
    
    print(f'\n3) Selected DEPTH: {depth_g}m')
    
    for year in data_dict_yr.keys():
        print(year)
        filtered_xarr_dict[year] = {}
        
        for pc in data_dict_yr[year].keys():
            print(pc)
            # Generate a filtered xarray with all variables for selected Platform, for a certain DEPTH range
            
            if metadata_yr[year][pc]['depth_m_v1']==0: align_and_nan = True
            else: align_and_nan = False

            for v in vars_g: 
                check_alignment1(data_dict_yr[year], pc, v, align_and_nan, vmin_dict_yr[year]) 

            filtered_xarr_dict[year][pc] = filter_xarr_DEPTH1(df_filtered, 
                                                             data_dict_yr[year],
                                                             platform=pc,
                                                             depth_range=[depth_g, depth_g])
            print(filtered_xarr_dict[year][pc])
        print('\n')
    
    return filtered_xarr_dict

In [ ]:
# Function to check whether data should be aligned if vmin = 1, and align if so if has not been done already
def check_alignment1(data_dict, pc, var, align_and_nan, vmin_dict):
    
    xarr = data_dict[pc]['data']
    xarr_var = xarr[var].data
    
    vmin = float(xarr.attrs['geospatial_vertical_min'])

    if vmin == 0:
        print(f'Platform: {pc}; Vertical min: {vmin}; Var: {var}')
        
    elif vmin==1 and vmin_dict[pc][var]==False and align_and_nan: 
        # shift to the right and add nan in first position 
        print(f'Platform: {pc}; Vertical min: {vmin}; Var: {var} --> aligning and add nan')        
        data_dict[pc]['data'][var].data = adjust_with_vmin(xarr_var, value=np.nan)
        vmin_dict[pc][var] = True # to avoid doing hte vmin adjustment for this pc/var more than once  
        
    elif vmin==1 and vmin_dict[pc][var]==False and not align_and_nan: 
        # No need to shift, this occurred already in the data extraction
        print(f'Platform: {pc}; Vertical min: {vmin}; Var: {var} --> data has been aligned already')
        vmin_dict[pc][var] = True # to avoid doing hte vmin adjustment for this pc/var more than once
    
    
#     return data_dict[pc], vmin_dict[pc][var]

In [ ]:
need to understand why hte index is not working properly... below is where the error is, between index and data_dict[platform]['data']

In [ ]:
# Function to filter XARRAY based on platform, Var and DEPTH
def filter_xarr_DEPTH1(df_toPlot, data_dict, platform, depth_range):
    display(df_toPlot)
#     pprint.pprint(data_dict)
   
    # find indices for each platform for the selected data
    index = df_toPlot[df_toPlot['Platform']==platform].index.tolist()
    print(index)
    
    display(data_dict[platform]['data'])
    
    # Filer data using the indexes of the filtered elements
    xarr_sel = data_dict[platform]['data'].isel(TIME=index,
                                                LATITUDE=index,
                                                LONGITUDE=index,
                                                DEPTH=slice(depth_range[0], depth_range[1]+1))
    return xarr_sel

In [ ]:
df_filtered[df_filtered['Platform']=='AA'].index.tolist()

#### Filter by BBOX, adding Time Range filter

In [ ]:
# Define here start and end date in the format [day,month,year]
time_start = [1,12,2003] 
time_end = [31,1,2004]

In [ ]:
time_start = datetime(time_start[2], time_start[1], time_start[0])
time_end = datetime(time_end[2], time_end[1], time_end[0])

position_df_bbox_timerange = position_df_bbox.loc[(position_df_bbox['Time']>=time_start) & 
                                                  (position_df_bbox['Time']<=time_end)]

# Print filtering results on original dataframe
print('Year:', year)
print('BBOX:', bbox_key)
time_filter_str = f'{time_start.strftime("%Y%m%d")}-{time_end.strftime("%Y%m%d")}'
print(f'Time Filter: {time_filter_str}')
sel_outof_all = f'{len(position_df_bbox_timerange)} out of {len(position_df)}.'
print(f'Selected positions (out of available positions): {sel_outof_all}')

display(position_df_bbox_timerange)

title = f'Filtered data: {bbox_key} and Time={time_filter_str}'
plotInteractive(position_df_bbox_timerange, title, 'Longitude', 'Latitude', xlim, ylim, bbox_dict)

#### Print or Export Filtered Positions
Uncomment the rows below if you want to display or export to CSV the filtered dataframe.

In [ ]:
# # Print filtered dataframe
# pd.set_option('display.max_rows', None) # pd.set_option('display.max_rows', 10) # to restore first- and last- 5 rows to display
# display(position_df_bbox_timerange)

# # Save dataframe to csv
# data_output = os.path.join(os.getcwd(), 'data_output')
# if not os.path.exists(data_output): os.mkdir(data_output)
# csvname = os.path.join(data_output, f'filtered_{pc}_df.csv')
# position_df_bbox_timerange.to_csv(csvname, sep=',', header=True)

#### Zoom in on Filtered Positions
Plot filtered positions with the relavite extent of those positions only.

In [ ]:
xlim_small = (min(position_df_bbox_timerange['Longitude'])-1, max(position_df_bbox_timerange['Longitude'])+1)
ylim_small = (min(position_df_bbox_timerange['Latitude'])-1, max(position_df_bbox_timerange['Latitude'])+1)
title = f'Filtered data: {bbox_key} and Time={time_filter_str}'
plotInteractive(position_df_bbox_timerange, title, 'Longitude', 'Latitude', xlim_small, ylim_small)

#### Define Filtered Dataframe (*df_toPlot*) to be used for online querying of the filtered positions
Define the filtered dataframe (eg *position_df_bbox*, *position_df_bbox_timerange*), to be named **df_toPlot**, and the dictionary of indices of filtered data (to be named **index_dict**), to use for further filtering.

In [ ]:
# Define dataframe to plot based on one of the previously defined filters
df_toPlot = position_df_bbox_timerange # or position_df / position_df_bbox

sel_outof_all = f'{len(df_toPlot)} / {len(position_df)}.'

print(f'- Filters: "BBOX={bbox_key}" and "Time={time_filter_str}"\n- Filtered / All (out of available positions): {sel_outof_all}')

display(df_toPlot)

# Dictionary of indices
index_dict = {}

for pc in df_toPlot['Platform'].unique():
    index_dict[pc] = df_toPlot[df_toPlot['Platform']==pc].index.tolist()

index_dict

In [ ]:
# display(df_toPlot[df_toPlot['Platform']=='JH'])
df_toPlot

In [ ]:
Up to here is comparable to the execution "extractor-tool --depth 25 --bbox "-20, 40, 50, 85" --time1 20031201 --time2 20040131 --vars 'TEMP' --format 'csv'"

### Data Extraction
The CTD data is extracted based on the following parameters: Variables, Depth range, and Platform code. 

Afterwards, an additional filtering is applied based on the list of indices that will be extracted from the dictionary of positions (*df_toPlot*).

#### Define Parameters

In [ ]:
# Define Variable(s)
vars_main = ['PRES', 'TEMP', 'PSAL', 'CNDC'] 

# Define the selection of variable to use for the analysis
vars_sel = ['TEMP']#, 'PRES'] #, 'CNDC', 'PSAL']; 
assert all([elem in vars_main for elem in vars_sel])

In [ ]:
# Define depths limits
depth1 = 25
depth2 = 25

In [ ]:
# Define Platform(s) - Select either one of the two options below  

#================================================
# Option A) Use data from ALL available platforms
pc_sel = df_toPlot['Platform'].unique()

# Option B) Use data from only ONE platform
# pc_sel = ['AA']; assert pc_sel in df_toPlot['Platform'].unique(), 'ERROR: platform not available in given year.'
#================================================

# Create string for output name
if len(pc_sel) == 1: pc_str = pc_sel[0]
else: pc_str = "-".join(pc_sel)
    
# Print selection
print(f'Platform(s) selected: {pc_str}')

#### Create **data_dict** dictionary 
Data and their attributes are read iteratively for selected platform(s), and saved into a dictionary *data_dict* which contains:
* the actual data, loaded into an **xarray** for data handling, analysis and visualisation
* the campaign's main attributes: platform code & name, data type, title, instrument, longitude & latitude, and vertical min & max.

In [ ]:
years = [2003, 2004]

In [ ]:
dds_year_dict

In [ ]:
for year in years:
    
    # Extract all platform_codes for that year
    pc_sel = [pc for pc in dds_year_dict[year].keys()]
    print(f'Working on year: {year} - Available platforms: {pc_sel}')
        
    
    
    data_dict = {}
    metadata = {}

    for pc in pc_sel:

        metadata[pc] = {}

        v_min = int(float(position_dict[pc]['data_attr'][6]))
        metadata[pc]['vmin'] = v_min
        metadata[pc]['depth_abs_v1'] = 0 # this is fixed
        metadata[pc]['depth_abs_v2'] = pc_dim_dict[pc]['DEPTH'] # this is fixed

        # ==============================================================================
        """
        Define here the DEPTH range of your selection, in meters. Note that either:
        - 'depth_m_v1' is equal to the lower bound (ie index=0), or 
        - 'depth_m_v2' is equal to the upper bound (ie index=-1)
        """
        metadata[pc]['depth_m_v1'] = 0 # depth1
        metadata[pc]['depth_m_v2'] = depth2 # pc_dim_dict[pc]['DEPTH']
        # ==============================================================================

        # assert metadata[pc]['depth_m_v1'] < metadata[pc]['depth_m_v2'], 'ERROR: the lower bound must be lower than the higher bound' 
        # assert metadata[pc]['depth_m_v1'] == 0 or metadata[pc]['depth_m_v2'] == pc_dim_dict[pc]['DEPTH'], 'ERROR: one of the two values must be equal to one of the lower/upper bounds'

        #     print(f'DEPTH range of interest (meters): {metadata[pc]["depth_m_v1"]} - {metadata[pc]["depth_m_v2"]}')

        # the start and stop values are adjusted based on the vmin value
        if metadata[pc]['vmin'] == 1: 
            if metadata[pc]['depth_m_v1'] == 0: # 
                metadata[pc]['depth_newindex_v1'] = metadata[pc]['depth_m_v1'] # the same
                metadata[pc]['depth_newindex_v2'] = metadata[pc]['depth_m_v2'] # the same, so I have the right size. When I shift and add the nan, I get rid of further element on the right
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2']# - 1

            elif metadata[pc]['depth_m_v1'] != 0: 
                metadata[pc]['depth_newindex_v1'] = metadata[pc]['depth_m_v1'] - 1 # start one element before
                metadata[pc]['depth_newindex_v2'] = metadata[pc]['depth_m_v2'] - 1 # last element is excluded, ie stop one element before. But then I'll have to remoove one element
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2'] - metadata[pc]['depth_m_v1'] - 1 

        else:
            metadata[pc]['depth_newindex_v1'] = metadata[pc]['depth_m_v1']
            metadata[pc]['depth_newindex_v2'] = metadata[pc]['depth_m_v2']

            if metadata[pc]['depth_m_v1'] == 0: # 
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2']

            elif metadata[pc]['depth_m_v1'] != 0: 
                metadata[pc]['depth_newindex4xr_v2'] = metadata[pc]['depth_m_v2'] - metadata[pc]['depth_m_v1']

        metadata[pc]['depth_newindex4xr_v1'] = 0

        pprint.pprint(metadata[pc])
        print(f'{pc} DEPTH range of interest (adjusted with vmin): {metadata[pc]["depth_newindex_v1"]} - {metadata[pc]["depth_newindex_v2"]}')

        fix_lab = f'58{pc}_CTD_{year}' # platform_codes and year are defined at the beginning of the notebook 

        # Get coordinates (needed for keeping hte correct structure, and for plotting) 
        coords_str = getQueryString(pc_dim_dict[pc], keylist = ['TIME', 'LATITUDE', 'LONGITUDE']) # list the coordinates you want

        # Extract TIME and DEPTH dimension for queries 
        time_dims = getQuery(pc, start=0, stop=pc_dim_dict[pc]['TIME'])
        depth_dims = getQuery(pc, start=metadata[pc]['depth_newindex_v1'], stop=metadata[pc]['depth_newindex_v2'])#; print(depth_dims)

        # join TIME and DEPTH for Variables
        var_str_ALL = []
        for v in vars_sel: var_str_ALL = np.append(var_str_ALL, f'{v}{time_dims}{depth_dims}')
        queries_vars = ','.join(var_str_ALL)

        # Build url and url with queries (url_q)
        url = f'{url_info[0]}{fix_lab}.nc{url_info[1]}?{coords_str}' 
        url_q = f'{url},{queries_vars}'; print(f'Platform {pc} URL:', url_q)

        remote_data, data_attr = fetch_data(url_q, year)

        data_dict[pc] = {'data': remote_data, 
                         'data_attr': data_attr}

        print(f'{data_attr}\n')

    # display(data_dict)
    print(f'Checking the existing campaigns in the dictionary: {list(data_dict.keys())}')

### Create Overview Dataframe with Platforms' Attributes
An overview dataframe *overview_df* is then generated to show the detailed information about each campaign at sea: platform code & name, data type, title, instrument, longitude & latitude, and vertical min & max).

In [ ]:
# Create database with the selected campaigns & years
overview_df = pd.DataFrame()
overview_df = getAttributes(overview_df, data_dict)
overview_df

In [ ]:
# Extract / define the variables to use for the analysis
print('\nPrinting DEPTH range for analyis:')
assert len(np.unique([metadata[k]["depth_m_v1"] for k in metadata.keys()])==1)
assert len(np.unique([metadata[k]["depth_m_v2"] for k in metadata.keys()])==1)

for k in data_dict.keys():
    print(f'{k}; DEPTH filtered: {metadata[k]["depth_m_v1"]}-{metadata[k]["depth_m_v2"]}m; VARS: {list(data_dict[k]["data"].variables)}')

In [ ]:
# Generate vmin dictionary (needed to avoid doing the vmin adjustment more than once)
vmin_dict = {}

# select only those platforms where vmin == 1
vmin_pc = overview_df[overview_df['Vertical_min'] == 1.0].index

for i in vmin_pc:
    vmin_dict[i] = {}
    
    for v in vars_sel:
        vmin_dict[i][v] = False

vmin_dict

### Filter by DEPTH and selected Indices
Apply the previously defined selection of indices (filtered based on BBOX and Time Range), and add filtering by DEPTH range. 

The output of this operation is a *filtered_xarr_dict* dictionary containing xarray datasets for each platform, containing the variable at the specified DEPTH range

#### Data filtered by DEPTH

In [ ]:
filtered_xarr_dict = {}

print(f'Selected range of DEPTH: {depth1} - {depth2}m\n')
for pc in data_dict.keys():

    # Generate a filtered xarray with all variables for selected Platform, for a certain DEPTH range
    if metadata[pc]['depth_m_v1']==0: align_and_nan = True
    else: align_and_nan = False

    for v in vars_sel: 
        check_alignment(data_dict, pc, v, align_and_nan, vmin_dict)

    filtered_xarr_dict[pc] = filter_xarr_DEPTH(df_toPlot, 
                                               data_dict,
                                               platform=pc,
                                               depth_range=[depth1, depth2])
    # display(filtered_xarr_dict[pc])

### Aggregation of Available Platforms
Two xarray datasets can be merged if they have the same structure, i.e. dimensions. First check the dimensions of DEPTH are the same.

In [ ]:
# Dictionary of variables for each platform
data_var_dict = {}
depth_arr = []

for pc in data_dict.keys():
    
    data_var_dict[pc] = {}
    data = filtered_xarr_dict[pc]
    
    depth_dim_pc = data.dims["DEPTH"]
    depth_arr.append(depth_dim_pc)
    
    print(f'PC {pc}\tFiltered Dims: TIME={data.dims["TIME"]}, DEPTH={data.dims["DEPTH"]}')
    
    for var in vars_sel:
        data_var_dict[pc][var] = filtered_xarr_dict[pc][var]
        
assert all(x==depth_arr[0] for x in depth_arr), 'ERROR, the DEPTH dimensions must be equal.'
# display(data_var_dict)

Now aggregate and plot each variable: on the y-axis is shown the TIME of the measurement (in float format, which needs to be converted to datetime format), and on the x-axis is the DEPTH of the measurement.

In [ ]:
# Combine arrays across platforms, for each variable
merged_arr = {}

for var in vars_sel:
    
    merged_arr[var] = xr.merge([data_var_dict[pc][var] for pc in data_dict.keys()])  
        
    title = f'Var={var} (Merged Platforms)\nFilter: Time Range={time_filter_str};\nBBOX={bbox_key}; Depth Range {depth1}-{depth2}m;\nSel/All={sel_outof_all}'

    plotVar_MergedPlatforms(merged_arr[var], var, title=title)
    # display(merged_arr[var])

In [ ]:
# Combine arrays across platforms, with ALL variables
merged_arr_vars = xr.merge([data_var_dict[pc][var] for pc in data_dict.keys() for var in vars_sel]) 
merged_arr_vars

In [ ]:
m = merged_arr_vars.to_dataframe().reset_index()
m

In [ ]:
m['DEPTH'] = depth1
m

In [ ]:
m[['TIME','DEPTH','TEMP']].to_csv('/workspace/INTAROS/iaos-CTD-extract-from-opendap/exported_data/test_temp.csv')

In [ ]:
data_dict['AA']['data'].isel(TIME=np.arange(0,2),
                             LATITUDE=np.arange(0,2),
                             LONGITUDE=np.arange(0,2),
                             DEPTH=np.arange(0,1)
                            )

In [ ]:
data_dict['AA']['data'].isel(TIME=np.arange(0,2),
                             LATITUDE=np.arange(0,2),
                             LONGITUDE=np.arange(0,2),
                             DEPTH=np.arange(0,1)
                            ).to_dataframe()

In [ ]:
data_var_dict[pc]['TEMP']

In [ ]:
merged_arr

To Recap:
* ```data_dict[pc]['data']```: contains the xarray extracted from the url (eg from **0** to **depth2**, for ALL locations)
* ```filtered_xarr```: contains the xarray filtered from ```data_dict[pc]['data']``` (ie from **depth1** to **depth2**, for filtered locations (BBOX and time_range))

### Export to File

In [ ]:
# Output dir
data_output = os.path.join(os.getcwd(), 'data_output')
if not os.path.exists(data_output): os.mkdir(data_output)

# File name (without file extension)
fname = os.path.join(data_output, 
                     f'Scientist_pc={pc_str}_BBOX={bbox_key}_MMYYYY={time_filter_str}_d={depth1}-{depth2}m_var={"_".join(vars_sel)}')

#### Export to NetCDF

In [ ]:
# Export to NetCDF
netcdfname = fname + '.nc.nc4'
merged_arr['TEMP'].to_netcdf(path=netcdfname,
                             mode='w')

#### Export to CSV
##### Create Dataframe of Filtered XARRAY
This step is implemented to generate a CSV-structured dataframe, to then export to a CSV file, which is the input expected by the RGeostats module.

In [ ]:
# Create dataframe with filtered data and columns ['LATITUDE', 'LONGITUDE', 'TIME', 'TEMP', 'DEPTH']
filtered2csv_multiDepths = pd.DataFrame() 

for pc in data_dict.keys():

    for d in range(depth1, depth2+1):

        # Create temporary dataframe
        temp = pd.DataFrame()

        data_depth_sel = data_dict[pc]['data'].isel(TIME=index_dict[pc],
                                                    LATITUDE=index_dict[pc],
                                                    LONGITUDE=index_dict[pc],
                                                    DEPTH=slice(d, d+1))

        for col in ['LONGITUDE', 'LATITUDE', 'TIME']:
            temp[col.title()] = data_depth_sel[col].data.astype(float) 

        if 'TEMP' in vars_sel: temp['Temperature'] = data_depth_sel['TEMP'].data.astype(float) 
        if 'CNDC' in vars_sel: temp['Conductivity'] = data_depth_sel['CNDC'].data.astype(float) 
        if 'PSAL' in vars_sel: temp['Salinity'] = data_depth_sel['PSAL'].data.astype(float) 

        temp['Depth'] = d 
        temp['Vessel_name'] = pc 

        filtered2csv_multiDepths = filtered2csv_multiDepths.append(temp, ignore_index=True)
    
# Rename index column with 'rank'
filtered2csv_multiDepths = filtered2csv_multiDepths.rename_axis("rank")

display(filtered2csv_multiDepths)

##### Assign *Profil_id* to the unique positions

In [ ]:
# find pair of unique coordinates 
unique_pos = filtered2csv_multiDepths.groupby(['Longitude','Latitude']).size().reset_index().rename(columns={0:'count'})

prof_id = 1
for long, lat in zip(unique_pos['Longitude'], unique_pos['Latitude']):
    
    # Define condition
    cond = (filtered2csv_multiDepths['Longitude'] == long) & (filtered2csv_multiDepths['Latitude'] == lat)
#     display(filtered2csv_multiDepths.loc[cond])
    
    # Assign unique Profil_id 
    filtered2csv_multiDepths.loc[cond,'Profil_id'] = prof_id
    prof_id += 1

# Convert to integer
filtered2csv_multiDepths = filtered2csv_multiDepths.astype({'Profil_id': int})
display(filtered2csv_multiDepths)

In [ ]:
# Export dataframe to CSV
csvname = fname + '.csv'
filtered2csv_multiDepths.to_csv(csvname, sep=',', header=True)
print('Output filename:', csvname)